* {
    font-family: sans-serif;
    color: black;
}
body {
    background: white;
    margin: 0;
    padding: 0;
}
h1 {
  text-align: center;
  font-size: 40px;
}
h2 {
    color:#2a83e7;
    padding-bottom:0;
    margin-bottom:0;
    margin-left: 1em;
}
h3 {
  margin-top : 0;
  padding-top: 0;
  margin-left: 1em;
}
h4 {
  text-align: center;
}
p{
    padding:10px;
    border-radius:5px;
    border:1px solid #ddd;
    background-color:#fff;
    margin-left: 2em; 
    margin-right: 2em;
}
img {
  border-radius: 50%;
  width: 60px;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}
#demo {
  border: none;
  margin-top: 0px;
  padding-top: 0px;
  font-size: 18px;
}
.post {
  margin-top: 50px;
  max-width: 100%;
}
.button{
    margin: 2rem;
    display:flex;
    justify-content: center;
}
button {
    padding: .5rem;
}